bonus-multidplyr.R
bonus_cosine.R
bonus_modeling_flights.R
bonus_read_data.R
bonus_tidy_airbnb.R
bonus_tidy_gapminder.R
data
img
intro_series_temporales.Rmd
intro_series_temporales.md
intro_series_temporales_files
master_data_science.Rproj
